.button-show-all-image {
    position: absolute !important;
    bottom: 10px;
    right: 10px;
}

.MuiImageListItem-img {
    height: 200px !important;
}

ul {
    white-space: nowrap;
    padding-left: 0;
    margin-top: 0;
}

li {
    display: inline;
}

.reserve-card {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px !important;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
}

.comments {
    white-space: normal;
    text-align: left;
}

@media screen and (min-width: 600px ) {
    .MuiImageListItem-img {
        height: auto !important;
    }
}